.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 5px;
}

.grid-item {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000;
}
