body {
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* Тёмный фон */
    padding-top: 20px;
}

.display-container {
    display: flex;
    justify-content: space-between;
    width: 380px; /* Устанавливаем ширину, аналогичную калькулятору */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.calculator {
    width: 380px;
    background-color: #1e1e1e; /* Тёмный цвет для калькулятора */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    width: 90%;
    background: #2c2c2c; /* Тёмный цвет для дисплея */
    color: #ffffff; /* Светлый текст */
    padding: 10px;
    border-radius: 10px;
}

.green-display {
    margin-right: 10px; /* Добавляем отступ справа для зелёного дисплея */
}

.red-display {
    margin-left: 10px; /* Добавляем отступ слева для красного дисплея */
}


.cells {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 5px;
    margin-bottom: 20px;
    justify-content: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #1e1e1e; /* Тёмный цвет для ячеек */
    border-radius: 5px;
    border: 1px solid #333333; /* Тёмная граница */
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    flex: 1;
    margin: 0 5px;
    color: white;
    touch-action: manipulation;
}

.accept {
    background-color: #4CAF50; /* Можно оставить, если хотите сохранить цвет кнопки */
}

.decline {
    background-color: #f44336; /* Можно оставить, если хотите сохранить цвет кнопки */
}
