body {
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #202025, #292930);
    padding: 20px 0;
}

.display-container {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-bottom: 20px;
}

.calculator {
    width: 350px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    width: 93%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.green-display, .red-display {
    flex: 1;
}

.cells {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 5px;
    margin-bottom: 20px;
    justify-content: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.2s, background-color 0.2s;
}

.cell:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    flex: 1;
    margin: 0 5px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
}

.button:active, .cell:active {
    transform: scale(0.95);
}

.accept {
    background-color: rgba(76, 175, 80, 0.6);
}

.decline {
    background-color: rgba(244, 67, 54, 0.6);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
