body {
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Меняем направление на столбец */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    padding: 20px 0; /* Добавляем отступ сверху и снизу */
}

.display-container {
    display: flex;
    justify-content: space-between;
    width: 380px; /* Устанавливаем ширину, аналогичную калькулятору */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.calculator {
    width: 350px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    width: 95%; /* Устанавливаем ширину дисплея */
    background: #2c2c2c;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.green-display {
    margin-right: 10px; /* Добавляем отступ справа для зелёного дисплея */
}

.red-display {
    margin-left: 10px; /* Добавляем отступ слева для красного дисплея */
}

.cells {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 5px;
    margin-bottom: 20px;
    justify-content: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #1e1e1e;
    border-radius: 5px;
    border: 1px solid #333333;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    flex: 1;
    margin: 0 5px;
    color: white;
    touch-action: manipulation;
}

.accept {
    background-color: #4CAF50;
}

.decline {
    background-color: #f44336;
}
